<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mùa Đông Không Lạnh</title>
</head>
<body>
    <h1> Customer Page </h1>
    {% for customer in all_customer %}
        <div>
            <p> Tên: {{customer.name}} </p>
            <p> Giới tính: 
            {{ "Nam" if customer.gender == 0 else "Nữ" }}
            </p>
            <p> Công việc: {{customer.job}} </p>
            <p> Công ty : {{customer.company}} </p>
            <p> Liên lạc: {{customer.contacted}} </p>
            <hr>
        </div>
    {% endfor %}
</body>
</html>