<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mùa Đông Không Lạnh</title>
</head>
<body>
    <h1>Sign in</h1>
    <form method = 'post'>
        <label>Tên đầy đủ</label>
        <input type="text" name = 'fullname'>
        <br>
        <label>Email</label>
        <input type="text" name = 'email'>
        <br>    
        <label>Tên đăng nhập</label>
        <input type="text" name = 'username' required>
        <br>
        <label>Mật Khẩu</label>
        <input type="password" name = 'password' required>
        <br>
        <input type="submit" value = "Submit">
    </form>
</body>
</html>