<div style = 'height: 600px'>
    <div class = 'text-center my-5' style = "font-family: 'Oswald', sans-serif; font-size: 200%">
        Các gói dịch vụ
    </div>
    <div class = 'd-flex justify-content-around'>
        <div class="card" style="width: 25rem">
            <div class="card-header text-white font-weight-bold rounded-top" style = "background-color: lightgray; font-size: 150%">
                Gói cơ bản
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" style = 'height: 250px'>
                        <p class="card-text text-body">Dẫn bạn về ra mắt</p>
                        <p class="card-text text-body">Ăn cơm cùng gia đình</p>
                        <p class="card-text text-secondary">Không nắm tay hay tiếp xúc dưới bất kỳ hình thức nào</p>
                        <p class="card-text text-secondary">Bạn không phụ giúp gia đình các công việc nấu nướng dọn dẹp</p>
                    </li>
                    <li class="list-group-item">
                        <a href="#" class="text-light btn btn-dark w-50 d-flex justify-content-end" style = 'margin-left: 180px'>
                                <i class="fas fa-heart mt-2 mr-2"></i>
                            Tìm hiểu thêm
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card" style="width: 25rem">
            <div class="card-header text-white font-weight-bold rounded-top bg-secondary" style = "font-size: 150%">
                Gói tiêu chuẩn
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" style = 'height: 250px'>
                        <p class="card-text text-body">Dẫn bạn về ra mắt</p>
                        <p class="card-text text-body">Ăn cơm cùng gia đình</p>
                        <p class="card-text text-body">Cho phép nắm tay thể hiện quan tâm</p>
                        <p class="card-text text-secondary">Bạn không phụ giúp gia đình các công việc nấu nướng dọn dẹp</p>
                    </li>
                    <li class="list-group-item">
                        <a href="#" class="text-light btn btn-dark w-50 d-flex justify-content-end" style = 'margin-left: 180px'>
                            <i class="fas fa-heart mt-2 mr-2"></i>
                            Tìm hiểu thêm
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card" style="width: 25rem">
                <div class="card-header text-white font-weight-bold rounded-top bg-dark" style = "font-size: 150%">
                    Gói cao cấp
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" style = 'height: 250px'>
                            <p class="card-text text-body">Dẫn bạn về ra mắt</p>
                            <p class="card-text text-body">Ăn cơm cùng gia đình</p>
                            <p class="card-text text-body">Cho phép nắm tay thể hiện quan tâm</p>
                            <p class="card-text text-body">Bạn sẽ phụ giúp gia đình các công việc nấu nướng dọn dẹp</p>
                            <p><a href="#" class="text-primary">Và nhiều ưu đãi bất ngờ khác</a></p>
                        </li>
                        <li class="list-group-item">
                            <a href="#" class="text-light btn btn-dark w-50 d-flex justify-content-end" style = 'margin-left: 180px'>
                                    <i class="fas fa-heart mt-2 mr-2"></i>
                                Tìm hiểu thêm
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
    </div>
</div>