<div style = 'height: 800px; background-image: url("../../static/image/male/night.jpg"); background-size: cover'>
    <div class = 'text-light text-center font-weight-bold my-5 pt-5' style = "font-family: 'Oswald', sans-serif; font-size: 200%">Khách hàng bình chọn</div>
    <div class="d-flex justify-content-around flex-wrap">
        <span class = 'col-md-2 mx-5 mb-5 rounded' style = 'border: 5px solid white; height: 200px; background-image: url("../../static/image/female/sunshine.jpg"); background-size: cover'></span>
        <span class = 'col-md-2 mx-5 mb-5 rounded' style = 'border: 5px solid white; height: 200px; background-image: url("../../static/image/female/tulips.jpg"); background-size: cover'></span>
        <span class = 'col-md-2 mx-5 mb-5 rounded' style = 'border: 5px solid white; height: 200px; background-image: url("../../static/image/female/leaf.jpg"); background-size: cover'></span>
        <span class = 'col-md-2 mx-5 mb-5 rounded' style = 'border: 5px solid white; height: 200px; background-image: url("../../static/image/female/snowflake.jpg"); background-size: cover'></span>
        <span class = 'col-md-2 mx-5 mt-5 rounded' style = 'border: 5px solid white; height: 200px; background-image: url("../../static/image/female/steel.jpg"); background-size: cover'></span>
        <span class = 'col-md-2 mx-5 mt-5 rounded' style = 'border: 5px solid white; height: 200px; background-image: url("../../static/image/male/rocks.jpg"); background-size: cover'></span>
        <span class = 'col-md-2 mx-5 mt-5 rounded' style = 'border: 5px solid white; height: 200px; background-image: url("../../static/image/female/woods.jpg"); background-size: cover'></span>
        <span class = 'col-md-2 mx-5 mt-5 rounded' style = 'border: 5px solid white; height: 200px; background-image: url("../../static/image/male/lightning.jpg"); background-size: cover'></span>
    </div>
</div>