.bg-gray{
    background-color: #ccc;    
}

.bg-green{
    background-color: lightgreen;
}

.m-10px{
    margin: 10px;
}

.w-100px{
    width: 100px;
}

.h-100px{
    height: 100px;
}

#flex-box{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    height: 500px;
    align-items: center;
}