.bg-lgreen{
    background-color: lightgreen;
}

.bg-purple{
    background-color: purple;
}

.bg-gray{
    background-color: gray;
}

.r-margin{
    margin-right: 20px;
}

.t-margin{
    margin-top: 20px;
}

.min-height{
    height: 100%;
    min-height: 100%;
}

.h-350px{
    height: 350px;
}

.h-50px{
    height: 50px;
}

.w-850px{
    width: 850px;
}

.w-150px{
    width: 150px;
}

.w-1000px{
    width: 1025px;
}

.main-flex-box{
    display: flex;
}

.ver-flex-box{
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
}

.hor-top-flex-box{
    display: flex;
    flex-direction: column;
}

.white{
    background-color: white;
    height: 10%;
    width: 20%;
    margin-top: 25%;
}

.t-white{
    font-family: 'Indie Flower', cursive;
    text-align: center;
}

.black{
    background-color: black;
    height: 10%;
    width: 45%;
}

.t-black{
    font-family: 'Lobster', cursive;
    text-align: center;
    color: white;
    font-size: 85%;
}

.hor-bot-flex-box{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.sb-logo{
    background-image: url(static/images/page-logo.png);
    height: 30%;
    margin-bottom: 5%;
    background-size: contain;
    background-repeat: no-repeat;
}

.sb-icon{
    display: flex;
    height: 10%;
}

.icon-height{
    height: '32px'; 
    width: '35';
}

img{
    object-fit: scale-down;
}

.i-height-80px{
    height: 80px;
}

.i-height-50px{
    height: 50px;
}

.f-pathway-gothic{
    font-family: 'Pathway Gothic One', sans-serif;
    color: #91CCBD;
    margin-top: 5%;
}

.sb-gray{
    display: flex;
    flex-direction: column;
    height: 10%;
}

.f-gamja{
    font-family: 'Gamja Flower', cursive;
    font-size: 65%;
}

.green{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    height: 20%;
    width: 24.7%;    
}

.t-margin-5pct{
    margin-left: 5%;
}

.f-roboto{
    font-family: 'Roboto', sans-serif;
    font-size: 85%;
    color: lightskyblue;
}

.f-amatic{
    font-family: 'Amatic SC', cursive;
    font-size: 60%;
    color: lightskyblue;
}

.blueish{
    height: 10%;
    width: 60%;
}

.redish{
    height: 10%;
    width: 40%;
}

.pink-red{
    height: 40%;
    width: 23%;
}

.wrap{
    flex-wrap: wrap;
}

#p-header{
    background-image: url(static/images/header.jpg);
    background-size: cover;
}

.border-box{
    box-sizing: border-box;
}

.border-box--dashed{
    border: 1px dashed red;
}

.border-box--solid{
    border-top: 1px solid gray;
}

.f-oswald{
    font-family: 'Oswald', sans-serif;
    color: lightskyblue;
}

.flex-box--row{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.bg-cover{
    box-sizing: border-box;
    border: 1px solid gray;
    background-size: cover;
    width: 177px;
    height: 118px;
}

.f-lato{
    font-family: 'Lato', sans-serif;
    font-size: 65%;
}

.f-ubunto{
    font-family: 'Ubuntu', sans-serif;
    font-size: 85%;
    color: lightskyblue;
}